<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/SideBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/welcome_page_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/accordion.css') }}">
</head>

<body>
    <header>
        <button class="openbtn" onclick="openNav()">&#9776;</button>
        <div class="login-register-container">
          {% if session.logged_in %}
            <form action="{{ url_for('logout') }}" method="post" style="display: inline;">
              <button type="submit" id="LogoutButton">Logout</button>
            </form>
          {% else %}
            <button id="LoginButton" onclick="redirectToLoginPage()">Login</button>
            <button id="RegisterButton" onclick="redirectToRegisterPage()">Register</button>
          {% endif %}   
        </div>
    </header>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="../Templates/Profile.html" onclick="redirectToProfilePage()">
            <img id="profile" src="../static/Assets/profile.png" alt=""> Profile
        </a>    
        <a href="../Templates/home.html"><img id="home" src="../static/Assets/home.png" alt="Home"> Home</a>
        <a href="../Templates/index.html" onclick="redirectToAboutPage()"><img id="info" src="../static/Assets/info.png" alt="Info"> About</a>
        <button id="toggle-theme-btn" onclick="toggleDarkMode()" title="Toggle theme mode">
            <img id="modeIcon" src="{{ url_for('static', filename='Assets/sun.svg') }}" alt="Light Mode">
            <span id="button-text">Dark Mode</span>
        </button>
    </div>


    <button class="accordion1">Description Page</button>
    <div class="panel1">
        <p>Welcome to TaskFlow: Streamline Your Projects with Ease!<br>
            TaskFlow is your all-in-one project management solution 
            designed to simplify teamwork, boost productivity, 
            and keep your projects on track. Whether you're managing 
            a small team or coordinating complex projects, 
            TaskFlow empowers you 
            to visualize, organize, and collaborate seamlessly.
        </p>
    </div>

    <button class="accordion2">Key Features</button>
    <div class="panel2">
        <p>
            <ul>
                <li>Easily add new tasks to your boards, defining key details such as titles, descriptions, and due dates to keep your workflow organized.</li>
                <li>Assign tasks to team members by their username, ensuring that responsibilities are clearly defined and everyone knows their role.</li>
                <li>Dynamic Templates: Jumpstart your projects with pre-designed templates tailored for various industries and project types.</li>
                <li>Notification Updates:  Receive push notifications on your mobile device when a task is created or assigned to you.</li>
            </ul>  
        </p>
    </div>

    <button class="accordion3">How to Use TaskFlow</button>
    <div class="panel3">
        <p>
            <ul>
                <li>Sign Up: Create your TaskFlow account by visiting our website and filling out a simple registration form.
                <li>Create Your First Task: Once logged in, create your first task by clicking on the "Plus button".</li>
                <li>Add Lists: Within your board, add lists to represent different stages of your workflow. For example, you could have lists for "To Do," "In Progress," and "Done."</li>
                <li>Download Your Details: From your profile page, you can download your account details in an XML file for backup or export purposes.</li>

                <li>Manage Your Account: Easily update or delete your account from the profile page, giving you control over your account settings and information.</li>
            </ul>
        </p>
    </div>

    <script src="{{ url_for('static', filename='Js/accordions.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/bar.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/login-register_redirect.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/darkmode.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const currentMode = getCookie("theme") || "light";
            document.body.classList.add(`${currentMode}-mode`);
            updateToggleButton(currentMode);
        });

        function toggleDarkMode() {
            const currentMode = document.body.classList.contains('light-mode') ? 'light' : 'dark';
            const newMode = currentMode === 'light' ? 'dark' : 'light';
            document.body.classList.remove(`${currentMode}-mode`);
            document.body.classList.add(`${newMode}-mode`);
            updateToggleButton(newMode);
            setCookie("theme", newMode, 365);
        }

        function updateToggleButton(mode) {
            const modeIcon = document.getElementById('modeIcon');
            const buttonText = document.getElementById('button-text');
            if (mode === 'light') {
                modeIcon.src = "{{ url_for('static', filename='Assets/sun.svg') }}";
                buttonText.textContent = 'Dark Mode';
            } else {
                modeIcon.src = "{{ url_for('static', filename='Assets/moon.svg') }}";
                buttonText.textContent = 'Light Mode';
            }
        }

        function setCookie(name, value, days) {
            const d = new Date();
            d.setTime(d.getTime() + (days*24*60*60*1000));
            let expires = "expires="+ d.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }

        function getCookie(name) {
            let cname = name + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(cname) == 0) {
                    return c.substring(cname.length, c.length);
                }
            }
            return "";
        }

        function redirectToProfilePage() {
            window.location.href = "../Templates/Profile.html";
        }

        function redirectToAboutPage() {
            window.location.href = "../Templates/index.html";
        }

        function redirectToHomePage() {
            window.location.href = "../Templates/home.html";
        }
    </script>
</body>
</html>